<section class="promotion">
    <div class="container promotion__container">
        <div class="promotion__form-wrapper">
            <h3 class="promotion__form-title heading-h4">Let's level up your brand</h3>
            <p class="promotion__form-connect text-p-medium">
                You can reach us anytime
                <a class="promotion__form-link" href="mailto:hellosansbrothers@gmail.com"
                    >hellosansbrothers@gmail.com</a
                >
            </p>
            <form class="promotion__form">
                <div class="promotion__form-top">
                    <label class="promotion__form-label text-p-small">
                        <span class="promotion__form-name">First name</span>
                        <input
                            class="promotion__form-input promotion__form-input--small"
                            type="text"
                            required
                            name="first-name"
                            placeholder="First name"
                        />
                    </label>
                    <label class="promotion__form-label text-p-small">
                        <span class="promotion__form-name">Last name</span>
                        <input
                            class="promotion__form-input promotion__form-input--small"
                            type="text"
                            required
                            name="last-name"
                            placeholder="Last name"
                        />
                    </label>
                </div>
                <label class="promotion__form-label text-p-small">
                    <span class="promotion__form-name">Email</span>
                    <input
                        class="promotion__form-input"
                        type="email"
                        required
                        name="mail"
                        placeholder="you@company.com"
                    />
                </label>
                <label class="promotion__form-label text-p-small">
                    <span class="promotion__form-name">Phone number</span>
                    <input
                        class="promotion__form-input"
                        id="phone"
                        required
                        name="phone"
                        placeholder=""
                    />
                </label>
                <label class="promotion__form-label text-p-small">
                    <span class="promotion__form-name">Message</span>
                    <textarea
                        class="promotion__form-input promotion__form-input--textarea"
                        required
                        name="message"
                        placeholder="Leave us a message..."
                    ></textarea>
                </label>
                <button class="promotion__form-btn button-form">Get Started</button>
            </form>
        </div>
        <img
            class="promotion__img"
            loading="lazy"
            width="987"
            height="885"
            src="./assets/images/promotion-img.jpg"
            alt=""
        />
    </div>
</section>
