<section class="activity">
    <div class="container">
        <h2 class="activity__title heading-h1">Activity &amp; Updates</h2>
        <p class="activity__descr text-p-subtitle">
            Our biggest challenge is making sure we're always designing and building products that
            will help you run your business better.
        </p>
        <nav class="activity__nav">
            <ul class="activity__tabs text-p-default">
                <li data-tab="all" class="activity__tab activity__tab--active">View all</li>
                <li data-tab="design" class="activity__tab">Design</li>
                <li data-tab="article" class="activity__tab">Articles</li>
                <li data-tab="product" class="activity__tab">Product</li>
                <li data-tab="software" class="activity__tab">Software Development</li>
                <li data-tab="success" class="activity__tab">Customer Success</li>
            </ul>
        </nav>
        <div class="activity__navigation">
            <button class="activity__btn activity__btn--prev">
                <svg
                    width="16"
                    height="14"
                    viewBox="0 0 16 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
                        fill="#CED1D8"
                    />
                </svg>
            </button>
            <button class="activity__btn activity__btn--next">
                <svg
                    width="16"
                    height="14"
                    viewBox="0 0 16 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M7.73635 13.0364C7.38487 13.3879 6.81503 13.3879 6.46355 13.0364L1.06355 7.63644C0.712082 7.28497 0.712082 6.71512 1.06355 6.36365L6.46356 0.963652C6.81503 0.612179 7.38488 0.612179 7.73635 0.963652C8.08782 1.31512 8.08782 1.88497 7.73635 2.23644L3.87274 6.10005L14.3 6.10005C14.797 6.10005 15.2 6.50299 15.2 7.00005C15.2 7.4971 14.797 7.90005 14.3 7.90005L3.87274 7.90005L7.73635 11.7637C8.08782 12.1151 8.08782 12.685 7.73635 13.0364Z"
                        fill="#CED1D8"
                    />
                </svg>
            </button>
            <div class="swiper activity__slider">
                <div class="activity__slider-hint">
                    <svg
                        width="28"
                        height="18"
                        viewBox="0 0 28 18"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                            stroke="#7E8492"
                            stroke-width="3"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide activity__article design">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide1.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Practice making User Flow
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="swiper-slide activity__article design">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide2.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Overview of the Design Principles
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            What are Design Principles?… To understand design principles, we first
                            discuss the principles.
                        </p>
                    </div>
                    <div class="swiper-slide activity__article article">
                        <img
                            class="activity__article-img"
                            width="379"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide3.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Using Grid in website design
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="swiper-slide activity__article product">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide1.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Practice making User Flow
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="swiper-slide activity__article article">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide2.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Overview of the Design Principles
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            What are Design Principles?… To understand design principles, we first
                            discuss the principles.
                        </p>
                    </div>
                    <div class="swiper-slide activity__article success">
                        <img
                            class="activity__article-img"
                            width="379"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide3.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Using Grid in website design
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="swiper-slide activity__article software">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide1.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Practice making User Flow
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="swiper-slide activity__article design">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide2.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Overview of the Design Principles
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            What are Design Principles?… To understand design principles, we first
                            discuss the principles.
                        </p>
                    </div>
                    <div class="swiper-slide activity__article article">
                        <img
                            class="activity__article-img"
                            width="379"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide3.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Using Grid in website design
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                    <div class="swiper-slide activity__article product">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide1.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Practice making User Flow
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            In this article, we'll cover how to create user flows
                        </p>
                    </div>
                    <div class="swiper-slide activity__article software">
                        <img
                            class="activity__article-img"
                            width="515"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide2.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Overview of the Design Principles
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            What are Design Principles?… To understand design principles, we first
                            discuss the principles.
                        </p>
                    </div>
                    <div class="swiper-slide activity__article success">
                        <img
                            class="activity__article-img"
                            width="379"
                            height="428"
                            src="./assets/images/blog/activity-slider/slide3.jpg"
                            alt="A woman is drinking a tea while working on a laptop"
                        />
                        <div class="activity__article-head text-p-small">
                            <div class="activity__article-date">
                                Published in Insight <time datetime="2024-01-30">Jan 30, 2024</time>
                            </div>
                            <address class="activity__article-author">by : Albert Sans</address>
                        </div>
                        <h3 class="activity__article-title heading-h5">
                            <a href="/coca/blog-one.html" class="activity__article-link">
                                Using Grid in website design
                            </a>
                        </h3>
                        <p class="activity__article-descr">
                            Andi: "What's the grid like?" Toni: “Like below…”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
