<section class="publication">
    <div class="container publication__container">
        <div class="publication__items">
            <div class="publication__item">
                <img
                    class="publication__img"
                    loading="lazy"
                    width="584"
                    height="751"
                    src="./assets/images/blog/publications/pub1.jpg"
                    alt="A laptop on a table"
                />
                <h3 class="publication__title heading-h3">
                    <a href="/coca/blog-one.html" class="publication__link">
                        How we perform long-running tasks using AWS services
                    </a>
                </h3>
                <p class="publication__descr text-p-medium">
                    Webflow is web design tool as well as a hosting platform and CMS all in one.
                    While you are probably familiar with all of these, they are usually entirely
                    separate tools.
                </p>
            </div>
            <div class="publication__item">
                <img
                    class="publication__img"
                    loading="lazy"
                    width="584"
                    height="507"
                    src="./assets/images/blog/publications/pub3.jpg"
                    alt="A laptop on a table"
                />
                <h3 class="publication__title heading-h3">
                    <a href="/coca/blog-one.html" class="publication__link">
                        Layout Exploration — Simple exercise but big effect
                    </a>
                </h3>
                <p class="publication__descr text-p-medium">
                    Make alternatives or other options for the design we are making. For example, we
                    are creating a website design. Then there is the testimonial section.
                </p>
            </div>
        </div>
        <div class="publication__items">
            <div class="publication__item">
                <img
                    class="publication__img"
                    loading="lazy"
                    width="584"
                    height="751"
                    src="./assets/images/blog/publications/pub2.jpg"
                    alt="A laptop on a table"
                />
                <h3 class="publication__title publication__title--right heading-h3">
                    <a href="/coca/blog-one.html" class="publication__link">
                        How to ask when doing User Research
                    </a>
                </h3>
                <p class="publication__descr text-p-medium">
                    Bro, the story is that you want to make an application for buying and selling
                    goods on the market. During user research, what do you think you will ask
                    people?
                </p>
            </div>
            <div class="publication__item">
                <img
                    class="publication__img"
                    loading="lazy"
                    width="584"
                    height="751"
                    src="./assets/images/blog/publications/pub4.jpg"
                    alt="A laptop on a table"
                />
                <h3 class="publication__title publication__title--right heading-h3">
                    <a href="/coca/blog-one.html" class="publication__link">
                        Webflow Break the Coding Barrier
                    </a>
                </h3>
                <p class="publication__descr text-p-medium">
                    Webflow is web design tool as well as a hosting platform and CMS all in one.
                    While you are probably familiar with all of these, they are usually entirely
                    separate tools.
                </p>
            </div>
        </div>
    </div>
</section>
